
.moe-bangumi-card .moe-bangumi-right {
    float: left;
    margin-left: 208px;
    width: calc(100% - 208px);
}

.moe-bangumi-card .moe-bangumi-left {
    float: left;
    width: 188px;
    height: 100%;
    position: absolute;
}

.moe-bangumi-card .moe-bangumi-right .moe-bangumi-header {
    width: 90%;
    padding: 20px 0 16px 0;
}

.moe-bangumi-card .moe-bangumi-right .moe-bangumi-content {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 14px;
    padding-right: 15px;
}

.moe-bangumi-footer {
    right: 0;
    bottom: 0;
    position: absolute;
    padding: 0 20px 15px 0;
}

.moe-bangumi-title {
    font-size: 24px;
    line-height: 36px;
}

.moe-bangumi-header .moe-bangumi-subtitle {
    font-size: 14px;
}

.moe-bangumi-card .moe-bangumi-left .moe-bangumi-cover-pe {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

@media(max-width:768px){
     .moe-bangumi-card{
        height: 110px !important;
    }
     .moe-bangumi-card .moe-bangumi-left{
        width:110px
    }
     .moe-bangumi-card .moe-bangumi-left .moe-bangumi-cover-pc{
        display:none
    }
     .moe-bangumi-card .moe-bangumi-right{
        margin-left:128px;width:calc(100% - 128px)
    }
     .moe-bangumi-card .moe-bangumi-right .moe-bangumi-header{
        padding:10px 0 8px 0
    }
     .moe-bangumi-card .moe-bangumi-right .moe-bangumi-header .moe-bangumi-title{
        font-size:18px
    } .moe-bangumi-card .moe-bangumi-right .moe-bangumi-header .moe-bangumi-subtitle{
        font-size:14px
    }.moe-bangumi-card .moe-bangumi-right main.moe-bangumi-content{
        
        display:none
    }
}
@media(max-width:600px){ 
    .moe-card-content{
        padding:10px 15px 10px 15px
    }

    .moe-bangumi-card .moe-bangumi-right .moe-bangumi-header .moe-bangumi-title{
        font-size:12px
    }
    .moe-bangumi-card .moe-bangumi-right .moe-bangumi-header .moe-bangumi-subtitle{
        font-size:10px
    }
    
}

.moe-bangumi-card {
    height: 250px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.mdui-card {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}